.git
.github
.cache
data
runtime
artifacts
references
*.pk3
*.PK3
*.pk4
*.PK4
SP/build/*
!SP/build/release-linux-x86_64/
!SP/build/release-linux-x86_64/iowolfsp.x86_64
!SP/build/release-linux-x86_64/main/
!SP/build/release-linux-x86_64/main/vm/
!SP/build/release-linux-x86_64/main/vm/*.qvm
MP/build/*
!MP/build/release-linux-x86_64/
!MP/build/release-linux-x86_64/iowolfded.x86_64
!MP/build/release-linux-x86_64/iowolfmp.x86_64
!MP/build/release-linux-x86_64/main/
!MP/build/release-linux-x86_64/main/vm/
!MP/build/release-linux-x86_64/main/vm/*.qvm
